{% extends "layout.html" %}

{% block title %}
    Results
{% endblock %}

{% block main %}

<p>
    Welcome to iDeez!  iDeez was created and launched by Micah Lawrence in November of 2023.  Micah works in the music industry working as a Product Manager at Anthem Entertainment.  
    Through his work in digital rights management, he noticed that it was a cumbersome process to get the video IDs and channel IDs needed to register music with YouTube's contentID.
</p>
<p>
    With the goal of expanding his technical knowledge of product and software development, Micah began taking Harvard's <a href="https://pll.harvard.edu/course/cs50-introduction-computer-science">CS50: Introduction to Computer Science</a> class taught by David Malan.
    When it came time to work on the final project, Micah thought it was a great opportunity to solve this real world problem he'd experienced.
    With the skills he learned in CS50, we created a web application that utilizes Google's YouTube Data API to easily access ids for videos and channels making it much easier to whitelist certain videos and channels for music licensing to avoid claims on ContendID.
</p>

{% endblock %}

